* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
}

main .left {
  flex: 1;
}

main .right {
  flex: 6;
}

/* annonce */

.annonce {
  padding-left: 8px;
  margin-bottom: 15px;
}

.annonce p {
  font-size: 13px;
  margin-bottom: 0px;
}

.annonce p:last-of-type {
  font-size: 14px;
}

/*list table students*/

.list-table th {
  font-size: 15px;
  font-weight: 500;
}

/*table of number of the students*/

.number_per_class tr td {
  padding: 5px !important;
}

/*form of update notes*/
.mb-none {
  margin-bottom: 0rem !important;
}

/*emploi*/

.img__emploi img {
  border: solid 2px #007bff !important;
}

/*marquer */

.mrq {
  bottom: 10px;
  right: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 12px;
  padding: 0px !important;
}

/*livres*/

.livres .row div {
  height: 230px;
  padding: 0px;
}

.livres .row div:hover .overlay {
  opacity: 1;
}

.livres .row div:hover h6 {
  bottom: 6px;
  opacity: 1;
}

.livres .row div .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0.5)),
    to(#009688)
  );
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), #009688);
  cursor: pointer;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
}

.livres h6 {
  position: absolute;
  bottom: -20px;
  opacity: 0;
  left: 25px;
  color: #fff;
  -webkit-transition: all 1s ease-in-out;
}
